<h3>{{ dt }}'s attendance list</h3>
<table border="1" width="50%" cellspacing="0">
    <tr>
        <th>No</th>
        <th>성명</th>
        <th>출석 일자</th>
        <th>출석 상태</th>
    </tr>
    {% if attendanceList %}
        {% for row in attendanceList %}
    <tr>
        <td>{{ row.no }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.dt }}</td>
        <td>
            {% if row.attendanceYn == '1' %}
            <font color="blue">출석</font>
            {% elif row.attendanceYn == '2' %}
            <font color="yellow">지각</font>
            {% elif row.attendanceYn == '3' %}
            <font color="red">결석</font>
            {% else %}
            미출석
            {% endif %}
        </td>
    </tr>
        {% endfor %}
    {% else %}
    <tr>
        <td colspan="3" align="center">data is not exist !!!</td>
    </tr>
    {% endif %}
</table>