<h3>{{ dt }}'s attendance list</h3>
<table border="1" width="50%" cellspacing="0">
    <tr>
        <th>No</th>
        <th>Name</th>
        <th>Create_dt</th>
        <th>Yn</th>
    </tr>
    {% if attendanceList %}
        {% for row in attendanceList %}
    <tr>
        <td>{{ row.no }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.dt }}</td>
        <td>{{ row.attendanceYn }}</td>
    </tr>
        {% endfor %}
    {% else %}
    <tr>
        <td colspan="3" align="center">data is not exist !!!</td>
    </tr>
    {% endif %}
</table>